<div class="book-entry flex mb-8 border-red-500 border-2 ">
    <!-- Book Image -->
    <div class="book-cover mr-4">
      {% if entry.bookCover|length %}
        <img src="{{ entry.bookCover[0].getUrl('thumb') }}" alt="{{ entry.title }} cover" loading="lazy" class="w-full">
      {% endif %}
      <span class="mt-6 text-xs border-red-500 border text-red-500 px-2 py-1">E</span>

    </div>

    <!-- Book Details -->
    <div class="book-details w-3/4">
      <!-- Title -->
      <h2 class="text-xl font-bold">{{ entry.title }}
      </h2>
      {% if entry.explicit == 1 %}
      
      <br>
      {% endif %}  
      <!-- Hook -->
      {% if entry.hook %}
        <span class="mb-4">{{ entry.hook }}</span>
      {% endif %}

      <!-- Buy Now buttons -->
      <div class="mb-4">
        <!-- Buy Now Button for Amazon (required field) -->
            <a href="https://www.amazon.com/dp/{{ entry.asin }}?&linkCode=ll1&tag=sykcrime-20&language=en_US&ref_=as_li_ss_tl" 
                class="bg-blue-500 text-white px-4 py-2 inline-block mb-4" target="_blank">
                Amazon
            </a>
     

            <!-- Optional Store Links (if the matrix field is filled out) -->
            {% if entry.storeLinks|length %}
            {% for block in entry.storeLinks.all() %}
            <a href="{{ block.storeLink }}" 
                class="bg-green-500 text-white px-4 py-2 inline-block mb-4" target="_blank">
                {{ block.store.label }}
            </a>
            {% endfor %}
            {% endif %}

      </div>

      <!-- Categories (Genre) -->
      <div class="genres mb-4">
        {% set genres = entry.genre.all() %}
        {% if genres|length %}
            <div class="text-sm"><span class="font-bold">Categories:</span>
                {% for genre in genres %}
                    <a href="{{ genre.url }}" class="hover:text-yellow-300 mr-2 mb-2">{{ genre.title }}</a>
                {% endfor %}
            </div>
        {% endif %}
      </div>

      <!-- Tags (Keywords) -->
      <div class="keywords">
        {% set keywords = entry.keywords.all() %}
        {% if keywords|length %}
            <div class="text-sm"><span class="font-bold">Keywords:</span>
                {% for keyword in keywords %}
                    <a href="/keywords/{{ keyword.slug }}" class="hover:text-yellow-300 mr-2 mb-2">{{ keyword.title }}</a>
                {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>